

<script src="~/Scripts/MyScripts/Client.js"></script>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h1> web api example </h1>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        Name <br />
        <input id="name" type="text"/><br />
        Last Name<br />
        <input id="lastname" type="text"/><br />
        <input id="addRow" type="button" value="Add Person"/>
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>  
                    <th>LName</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </section>
</div>
